<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"  />
  </configSections>
  <connectionStrings>
    <add name="SFISconnectionstring" connectionString="User Id=sfis1;Server=SFDB_TEST;Direct=True;Sid=SFIS;Password=sfis1;Pooling=true;min pool size=5;max pool size=8;"/>
  </connectionStrings>
  <appSettings>
    <add key="TMOConfigXMLFileName" value="TMOConfigurations.xml"/>
    <add key="InputReaderTryTime" value="10"/>
    <add key="InputReaderTryInterval" value="30"/>
  </appSettings>

  <!-- log4net -->
  <log4net>
    <root>
      <level value="ERROR" />
    </root>
    <logger name="stdlog">
      <level value="INFO"/>
      <appender-ref ref="rollingFile" />
      <!--<appender-ref ref="MemoryAppender" />-->
      <appender-ref ref="RichTextBoxAppender" />
      <!--<appender-ref ref="ADONetAppender" />-->
    </logger>
    <!-- log4net appender -->
    <!--<appender name="MemoryAppender" type="log4net.Appender.MemoryAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MMM-dd HH:mm:ss,fff} [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>-->
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>-->
    <!-- RichTextBoxAppender allows to put logs in the RichTextBox -->
    <appender name="RichTextBoxAppender" type="CCIFMS.RichTextBoxAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MMM-dd HH:mm:ss,fff} [%t] %-5p - %m%n" />
      </layout>
      <mapping>
        <level value="DEBUG" />
        <textColorName value="DarkGreen" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <textColorName value="ControlText" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <textColorName value="Blue" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <textColorName value="Red" />
        <!--<bold value="true" />-->
        <!--<pointSize value="10" />-->
      </mapping>
      <mapping>
        <level value="FATAL" />
        <textColorName value="Black" />
        <backColorName value="Red" />
        <!--<bold value="true" />-->
        <!--<pointSize value="12" />-->
        <!--<fontFamilyName value="Lucida Console" />-->
      </mapping>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="log/FMS_LOG" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="maximumFileSize" value ="100KB"/>
      <param name="DatePattern" value=".yyyyMMdd.\tx\t" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender,log4net">
      <bufferSize value="100" />
      <!--<param name="BufferSize" value="2" />-->
      <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite" />
      <connectionString value="data source=FMS.s3db" />
      <commandText value="insert into [Log4FMS] ([FMSObjID],[FileName],[executeTime],[tryTimes],[processTimeofReadfile],[processTimeofProcedure],[processTimeofOutput]) Values(@FMSObjID,@FileName,@executeTime,@tryTimes,@processTimeofReadfile,@processTimeofProcedure,@processTimeofOutput);" />
      <commandType value="Text"/>
      <parameter>
        <parameterName value="@FMSObjID" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{FMSObjID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@FileName" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{FileName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@executeTime" />
        <!--<dbType value="DateTime" />-->
        <dbType value="String" />
        <!--<layout type="log4net.Layout.RawTimeStampLayout" />-->
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ExecuteTime}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@tryTimes" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{tryTimes}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@processTimeofReadfile" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{processTimeofReadfile}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@processTimeofProcedure" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{processTimeofProcedure}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@processTimeofOutput" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{processTimeofOutput}" />
        </layout>
      </parameter>
    </appender>

  </log4net>

</configuration>

